.container-list-item
  display: flex
  justify-content: space-between

.container-list-item-text-one
  color: #595e74

.container-list-item-text-two
  color: #c1c1c1

hr
  color: #c1c1c !important
  opacity: 0.4