<div class="container-list-item">
    <div class="container-list-item-text-one">
        <p>{{ text }}</p>
    </div>
    <div class="container-list-item-text-two">
        <p>{{ textTwo }}</p>
    </div>
</div>
<hr>