<div class="acount">
    <div class="container-plan">
        <app-title title="Your Plan"></app-title>
        <p>Your Genio subscription details</p>
    </div>

    <div class="container-subscriptions">

        <div class="container-subscriptions-plans">
            <div>
                <div class="square-gray">

                </div>
                <p>Basic</p>
            </div>
            <div>
                <div class="square-purple square-opacy">

                </div>
                <p>Plus</p>
            </div>
            <div>
                <div class="square-purple">

                </div>
                <p>Premium</p>
            </div>
        </div>
        <p>
            Lorem Ipsum es simplemente el texto de
        </p>
        <p>relleno de las imprentas y archivos de texto.</p>
        <p>de las industrias desde el año 1500.</p>

        <a class="btn-upgrade" href="#">Upgrade Your Account</a>
    </div>
</div>
