.container-plan {
  color: gray;
  margin: 10px; }

.container-subscriptions {
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.container-subscriptions > p {
  color: #595e74;
  padding-bottom: 20px; }

.container-subscriptions-plans {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.container-subscriptions-plans > div {
  text-align: center;
  padding: 25px; }

.container-subscriptions-plans > div > p {
  margin-top: 20px;
  color: #bcbfcd; }

.square-purple {
  border: 2px solid #8f7aea;
  padding: 5px;
  width: 80px;
  height: 80px;
  transform: rotate(45deg); }

.square-gray {
  background-color: #bcbfcd;
  padding: 5px;
  width: 80px;
  height: 80px;
  transform: rotate(45deg); }

.square-opacy {
  opacity: 0.5; }

.btn-upgrade {
  text-decoration: none;
  background-color: #8f7aea;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  border-radius: 12px;
  margin: 15px; }

@media screen and (min-width: 768px) {
  .container-subscriptions-plans {
    flex-direction: row; }

  .container-subscriptions-plans > div {
    padding: 65px; } }
@media screen and (min-width: 1280px) {
  .container-subscriptions-plans > div {
    padding: 25px; }

  .square-purple {
    width: 25px;
    height: 25px; }

  .square-gray {
    padding: 5px;
    width: 25px;
    height: 25px; } }

/*# sourceMappingURL=plain.component.css.map */
