.menu {
  background-color: white;
  height: 100%;
  padding: 17px; }

.menu > ul {
  list-style: none; }

.menu > ul > li {
  padding: 20px !important;
  color: #949494; }

.menu > ul > li > span > i {
  font-size: 25px; }

/*# sourceMappingURL=menu.component.css.map */
