<div class="menu">
    <ul>
        <li><span><i class="fa fa-clock-o" aria-hidden="true"></i></span> Activity</li>
        <li><span><i class="fa fa-calendar-o" aria-hidden="true"></i></span> Schedule</li>
        <li><span><i class="fa fa-users" aria-hidden="true"></i></span> People</li>
        <li><span><i class="fa fa-comment-o" aria-hidden="true"></i></span> Messages</li>
    </ul>
</div>