@media screen and (min-width: 1024px)
  .container-body
    display: flex
    justify-content: center
    margin-left: 2%

@media screen and (min-width: 1280px)
  .container-example
    display: flex



@media screen and (min-width: 1400px)
  .container-example
    justify-content: center