<div class="container-example">
    <div>
        <app-menu></app-menu>
    </div>
    <div>
        <div class="container-body">
            <app-acount></app-acount>
            <app-plain></app-plain>
        </div>
    </div>
</div>
