.container-card {
  display: flex;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-radius: 4px; }

.container-card-img > i {
  margin-left: 25px;
  font-size: 20px;
  color: #c1c1c1; }

.container-card-text > p {
  margin-left: 50px !important;
  color: #8f7aea; }

/*# sourceMappingURL=card.component.css.map */
