<div class="container-card">
    <div class="container-card-img">
        <i class="fa fa-bar-chart" aria-hidden="true"></i>
    </div>
    <div class="container-card-text">
        <p>{{ text }}</p>
    </div>
</div>