<div class="account">
    <div class="container-account">
        <div class="container-account-title">
            <app-title title="Account"></app-title>
            <div class="container-account-edit">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                <p>EDIT</p>
            </div>
        </div>
        <p>Welcome to your Genio account</p>

        <div class="container-account-profile">
            <div class="container-account-profile-img">
                <img src="https://t2.uc.ltmcdn.com/images/8/5/3/img_como_usar_el_aceite_de_arbol_de_te_en_la_cara_43358_300_square.jpg" alt="Profile">
            </div>
            <div class="container-account-profile-info">
                <h4>Samantha Owens</h4>
                <p>Manager</p>
                <div class="container-account-counts">
                    <div>
                        <div>
                            <p><span>4</span> TEAMS</p>
                        </div>
                        <div>
                            <p><span>4</span> CUSTOMERS</p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <p><span>4</span> CLEANERS</p>
                        </div>
                        <div>
                            <p><span>4</span> JOBS DONE</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-cards">
        <div>
            <app-card text="Supplies"></app-card>
        </div>
        <div>
            <app-card text="Supplies"></app-card>
        </div>
    </div>

    <div class="container-list">
        <app-title-list title="GENERAL ACCOUNT INFO"></app-title-list>
        <app-item-list text="Account Type" textTwo="Basic (Free)"></app-item-list>
        <app-item-list text="Account Email" textTwo="email@hotmail.com"></app-item-list>
        <app-item-list text="Genio Invite Link" textTwo="Gen.io/23jfgl90"></app-item-list>
        <app-item-list text="Account Created" textTwo="Feb 2, 2017"></app-item-list>
        <app-item-list text="Social Media" textTwo="Not conected"></app-item-list>
    </div>
</div>