.container-account > p {
  margin-left: 10px;
  color: gray; }

.container-account-title {
  display: flex;
  margin-left: 10px !important; }

.container-account-profile {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 10px;
  box-shadow: 1px 1px 18px 5px #eeeff1; }

.container-account-edit {
  display: flex;
  align-items: center;
  color: #8f7aea;
  margin-left: 10px; }

.container-account-profile-img {
  display: flex;
  justify-content: center; }

.container-account-profile-info > p {
  color: #949494;
  margin: 20px !important; }

.container-account-profile-info > h4 {
  color: #595e74;
  margin: 20px; }

.container-account-counts {
  background-color: #f3f4f7;
  border-radius: 5px;
  margin: 10px; }

.container-account-counts > div {
  padding: 20px;
  display: flex;
  justify-content: space-between; }

.container-account-counts > div > div > p > span {
  color: black; }

.container-account-counts > div > div > p {
  color: gray; }

.container-cards {
  margin: 10px; }

.container-list {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px; }

@media screen and (min-width: 768px) {
  .container-account-profile {
    flex-direction: row; }

  .container-account-profile-info {
    flex: 1; } }
@media screen and (min-width: 1024px) {
  .container-account-profile {
    flex-direction: column; } }
@media screen and (min-width: 1280px) {
  .container-account-profile {
    flex-direction: row; }

  .container-account-profile-img {
    width: 50%; }

  .container-cards {
    display: flex; }

  .container-cards > div {
    flex: 1; } }

/*# sourceMappingURL=account.component.css.map */
