$navBackgroundColor: #8f7aea
$textProfileColor: white

.container-nav
  color: $textProfileColor
  display: flex
  justify-content: space-between
  background-color: $navBackgroundColor

.container-nav-logo
  padding-left: 5%

.container-nav-menu
  display: flex
  align-items: center
  padding-right: 4%

.container-nav-img
  img
    height: 45px
    border-radius: 50%

.container-nav-name
  display: flex
  margin: 10px

  p
    margin-right: 2px !important