.container-nav {
  color: white;
  display: flex;
  justify-content: space-between;
  background-color: #8f7aea; }

.container-nav-logo {
  padding-left: 5%; }

.container-nav-menu {
  display: flex;
  align-items: center;
  padding-right: 4%; }

.container-nav-img img {
  height: 45px;
  border-radius: 50%; }

.container-nav-name {
  display: flex;
  margin: 10px; }
  .container-nav-name p {
    margin-right: 2px !important; }

/*# sourceMappingURL=nav.component.css.map */
