<nav>
    <div class="container-nav">
        <div class="container-nav-logo">
            <h3>Logo</h3>
        </div>
        <div class="container-nav-menu">
            <div class="container-nav-img">
                <img src="https://t2.uc.ltmcdn.com/images/8/5/3/img_como_usar_el_aceite_de_arbol_de_te_en_la_cara_43358_300_square.jpg" alt="Profile">
            </div>
            <div class="container-nav-name">
                <p>Samantha Ownes</p>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</nav>