/* You can add global styles to this file, and also import other style files */
html, body, p, article, section, a, ul, li,h5{
    margin: 0;
    padding: 0;
}

body{
    font-family: Helvetica;
    background-color: #f3f4f7;
}